body {
    background: url("../images/contact_image.jpg") no-repeat fixed;
    background-size: cover;
}

.form-container{
    margin-bottom: 5%;
}
.container-height {
    height: 750px;
}

.contact-text {
    text-align: center;
    padding: 40px 0 10px 0;
    font-size: 40px;
}

/*************** INPUT FIELDS ***************/

form .input-field{
    position: relative;
    border-bottom: 2px solid grey;
    margin: 45px 0;
}

form .input-field-message {
    position: relative;
    margin: 55px 0;
}

.input-field-message textarea {
    position: relative;
    font-size: 15px;
    top: 0;
    left: 0;
    height: 150px;
    width: 92%;
    resize: none;
    border: 2px solid grey;
    border-radius: 7px;
    outline: none;
    background: none;
    padding: 20px;
    transition: all .3s;
}

.input-field-message textarea:focus,
.input-field-message textarea:not(:placeholder-shown) {
    border: 2px solid #236f21;
}

.input-field-message textarea::-webkit-scrollbar {
    width: .9em;
}

.input-field-message textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.input-field-message textarea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 15px;
}

.input-field-message label {
    position: absolute;
    color: grey;
    left: 1rem;
    top: .8rem;
    padding: 0 .5rem;
    cursor: text;
    background-color: #fff;
    transition: top 200ms ease-in,
                left 200ms ease-in,
                font-size 200ms ease-in;

}

.input-field-message textarea:focus ~ label,
.input-field-message textarea:not(:placeholder-shown) ~ label{
    top: -.5rem;
    font-size: .9rem;
    left: .8rem;
    color: #236f21;
}

/******************************************/

@media(max-width: 900px), (max-device-width: 900px) {
    .container-height {
        height: 660px;
    }

    .contact-text {
        padding: 15px 0;
        font-size: 30px;
    }

    form .input-field{
        margin: 35px 0;
    }

    form .input-field-message {
        margin: 45px 0;
    }
}

@media (max-device-width: 650px) {
    .container-height {
        width: 60%;
    }
    .contact-text {
        padding: 15px 0;
        font-size: 200%;
    }
    .submit-btn {
        width: 135px;
        height: 54px;
        font-size: 23px;
    }
    .input-field-message label {
        font-size: 22px;
    }
    .input-field-message textarea {
        font-size: 22px
    }
}

@media (max-device-width: 500px) {
    .contact-text {
        padding: 15px 0;
        font-size: 200%;
    }
    .form-container form {
        padding:0 60px;
    }

    form .input-field {
        margin-bottom: 28px;
    }
    .container-height {
        height: 670px;
    }

}

@media (max-device-width: 400px) {
    .contact-text {
        padding: 15px 0;
        font-size: 200%;
    }
    .submit-btn {
        width: 140px;
        height: 54px;
        font-size: 150%;
    }
    .container-height {
        height: 670px;
    }
    .input-field-message label {
        font-size: 26px;
    }
    .input-field-message textarea:focus ~ label,
    .input-field-message textarea:not(:placeholder-shown) ~ label {
        font-size: 22px;
    }
}

@media(max-width: 450px) {
    .container-height {
        height: 660px;
    }

    .contact-text {
        padding: 15px 0;
        font-size: 25px;
    }
    .input-field-message textarea:focus,
    .input-field-message textarea:not(:placeholder-shown) {
        font-size: 30px;
    }
}

@media (max-device-width: 335px) {
    .container-height {
        height: 930px;
    }
    form .input-field {
        margin-bottom: 65px;
    }
    .contact-text {
        padding: 25px 0;
        font-size: 35px;
    }
    .input-field-message textarea {
        width: 420px;
        height: 300px;
        font-size: 33px;
    }
    .input-field-message label {
        font-size: 30px;
    }
    .input-field-message textarea:focus ~ label,
    .input-field-message textarea:not(:placeholder-shown) ~ label {
        font-size: 27px;
        top: -.9rem;
    }

}
