.container-height {
    height: 620px;
    width: 550px;
}
form .input-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 80px 0;
}
.top-text {
    font-size: 35px;
}
.submit-btn {
    height: 60px;
    margin: 20px;
}