body{
    margin: 0;
    font-family: sans-serif;
    background: url("../images/trees.jpg") fixed;
    background-size: cover;
    color: #243e16;

}
#username{
    align-self: center;
    text-decoration: none;
    font-size: large;
}
.userProfile{
    width: 70%;
    align-self: center;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(209, 243, 175);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
    margin: 5%;
}
.forum-body{
    display: flex;
    width: 100%;
    background-color: rgba(36, 62, 22, 0.6);
}
/*SIDE BAR*/
.sidebar-container{
    margin: 2%;
    flex: 1 0 10%;
}
/*PROFILE - SIDE BAR 1*/
.profile-widget{
    display: block;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
    margin-bottom: 20%;
    background: rgba(165, 210, 164, 0.6);
    padding: 10%;
    border-radius: 10px;
}
.profile-title{
    margin-bottom: 5%;
    color: white;
    font-weight: lighter;
}
.profile-body{
    display: flex;
}
.profile-pic-container{
    flex: 1;
}
.profile-pic{
    width: 70%;
}
.profile-info-container{
    flex: 2;
}
.username{
    color: white;
    font-size: 14px;
    font-weight: lighter;
}
.btn-profile{
    cursor: pointer;
    margin-top: 5%;
    background: #236f21;
    border: 0;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
}
.btn-profile:hover{
    font-weight: bold;
    background: white;
    color: #236f21;
}
/*TAGS - SIDE BAR 2*/
.popular-tags{
    background: rgba(165, 210, 164, 0.6);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
    padding: 10%;
    width: 80%;
    border-radius: 10px;
}
.tag-title{
    font-size: 18px;
    color: white;
    padding-inline-start: 0;
}
.tag-list{
    list-style-type: none;
    padding-inline-start: 10%;
}
.tag-list li{
    padding: 5% 0;
}
.tag-list li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.tag-list li a:hover{
    font-weight: bold;
}
/*MAIN CONTAINER*/
.main-container{
    margin: 2%;
    width: 500px;
    flex: 4 0 auto;
}
/*TOP MENU*/
.forum-menu{
    width: 100%;
    display: flex;
}
.space{
    flex: 1 0 auto;
    padding: 3px 20px;
    margin: 2%;
}
/*MENU FILTER*/
.container{
    display: flex;
    flex: 1 0 auto;
    margin: 2%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
    background: rgba(165, 210, 164, 0.6);
    border-radius: 5px;
    border: none;
    padding: 0.5% 2%;
    max-width: 250px;
    height: 35px;
    position: relative;
}
.btn-forum-filter{
    flex: 3;
    cursor: pointer;
    border: none;
    outline:none;
    text-align: left;
    font-size: 1.2em;
    color: #424242;
    color: white;
    font-weight: 500;
    background: transparent;
}

.btn-forum-filter img{
    display: block;
    margin-top: 0.2rem;
    height: 18px;
    width: 23px;
    float: right;
    filter: invert(100%);
}

/*-------DROPDOWN MENU--------*/
.tabs{
    background-color: rgba(165, 210, 164, 0.9);
    padding: 12px;
    color: white;
    font-size: 1.2em;
    border: none;
    outline: none;
    width: 250px;
    flex: 1;
    transition: 0.3s;
}
.tabs:last-child{
    border-radius: 0 0 10px 10px;
}
/*MENU SEARCH*/
.dropdown_menu{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    margin-top: 2.52rem;
    display: flex;
    flex-direction: column;

}
.open_dropdown_menu{
    transform: scaleY(1);
}
.change_container_color{
    background: rgba(165, 210, 164, 0.8);
}
.tabs:hover{
    background-color: rgba(35, 111, 33, 0.7);
    transform: scale(1,1);
}
/****************************/
.forum-search{
    flex: 1 0 auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
    background: rgba(165, 210, 164, 0.6);
    width: 15%;
    max-width: 250px;
    height: 35px;
    border: none;
    padding: 0.5% 2%;
    margin: 2% 4% 2% 2%;
    border-radius: 50px;
}

.elementsContainerForum {
    width: 100%;
    height: 100%;
    vertical-align:middle;
    horiz-align: center;
}
.searchForum {
    border: none;
    background-color:rgba(0,0,0,0);
    outline:none;
    height: 90%;
    width: 93%;
    padding: 3px 7px;
    border-radius: 50px;
    font-size: 18px;
    /*font-family: "Nunito";*/
    color: white;
    font-weight: 500;
}
.searchForum::placeholder{
    color: white;
}

.searchIconForum {
    border:none;
    cursor:pointer;
    margin: 0;
    padding: 0;
    font-size:25px;
    background: transparent;
    filter: invert(100%);
}
.forum-posts{
    max-width: 100%;
}

/*POSTS*/
.posts{
    width: inherit;
    list-style-type: none;
}
.post{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
    margin: 5% 5% 0 0;
    height: fit-content;
    display:flex;
    border-radius: 10px;
    max-width: inherit;
    background: white;
    flex-direction: column
}
.post-top{
    width: inherit;
    border-radius: 10px 10px 0 0;
    flex: 1;
    background: white;
    display: flex;
}
.post-pic-container{
    margin: 2% 0 1% 3%;
    flex: 1;
}
.post-pic{
    width: 50px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
}
.user{
    margin: 4% 0 1% 0;
    flex: 9;
}

.post-body{
    background: white;
    padding: 2%;
    flex: 2;
    height: fit-content;
    width: inherit;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.45);
}
.paragraph{
    margin: 3%;
    height: inherit;
    font-size: 16px;
    overflow-wrap: break-word;
    overflow: hidden;
}
.post-answers{
    border-top: 2px solid rgba(66, 66, 66, 0.5);
    background: white;
    width: inherit;
    border-radius: 0 0 10px 10px;
    height: fit-content;
    flex: 2;
    overflow-wrap: break-word;
}
.comment-section{
    list-style-type: none;
    width: inherit;
    padding: 0;
}
.comments{
    width: inherit;
}
.comment-section li{
    position: relative;
    padding: 7px 5px;
    border-bottom: 2px solid rgba(66, 66, 66, 0.5);
    display: block;
}
.comment-pic-container{
    margin: 0 0 0 2%;
    flex: 1;
}
.comment-pic{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.user-commenting{
    flex: 20;
    margin: 0.5% 0 0 0;
    font-size: 12px;
}
.comment-user-container{
    display: flex;
}
.user-comment{
    font-size: 12px;
    margin: 0 0 0 7%;
    padding: 1%;
    width: fit-content;
    border-radius: 5px;
    background: rgba(68, 68, 68, 0.2);
}
.add-comment{
    padding: 2% 1%;
    display: flex;
}
.my-pic-container{
    margin: 0 0 0 2%;
}
.my-pic{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
input[name="newComment"]{
    width: 100%;
    border: 2px solid rgba(36, 62, 22, 0.7);
    border-radius: 5px;
    font-size: 13px;
    margin: 0 2% 0 2%;
    color: #243e16;
    padding: 0 1%;
    outline: none;
}
input::placeholder[name="newComment"]{
    font-weight: bold;
    color: rgba(36, 62, 22, 0.7);
}
.me{
    flex: 1;
    margin: 0.5% 0 0 0;
    font-size: 12px;
}
input[type="submit"]{
    cursor: pointer;
    background: #236f21;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
}
input[type="submit"]:hover{
    background: rgba(68, 68, 68, 0.2);
    color: #236f21;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    box-shadow: none;
}
.form-container form{
    padding: 0;
    display: flex;
}
