body {
    background: url("../images/green-branches_1.jpg") no-repeat fixed;
    background-size: cover;
}

.container-height {
    height: 680px;
}

form .input-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 60px 0;
}

.forgot-pass {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.sign-up-text {
    text-align: center;
    margin: 55px 0;
}

.fa {
    position: absolute;
    right: 17px;
    transform: transalte(0, -50%);
    top: 30%;
    cursor: pointer;
    font-size: 20px;
}

#log-in-password {
    width: 89%;
}

@media(max-device-width: 900px) {
    form .input-field{
        margin: 35px 0;
    }

    .container-height {
        height: 480px;
    }

    .forgot-pass {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .sign-up-text {
        margin: 30px 0;
    }
}

@media(max-width: 900px) {
    form .input-field{
        margin: 35px 0;
    }

    .container-height {
        height: 480px;
    }

    .forgot-pass {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .sign-up-text {
        margin: 40px 0;
    }
}

@media (max-device-width: 750px) {
    .forgot-pass {
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .sign-up-text {
        font-size: 16px;
        margin: 35px 0;
    }
}

@media (max-device-width: 650px) {
    .forgot-pass {
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    form .input-field {
        margin-bottom: 45px;
    }
    .sign-up-text {
        font-size: 18px;
        margin: 40px 0;
    }
    .container-height {
        height: 530px;
    }
}

@media (max-device-width: 500px) {
    .container-height {
        height: 590px;
    }
    form .input-field {
        margin-bottom: 60px;
    }

    .forgot-pass,
    .sign-up-text {
        font-size: .9rem;
    }

    .forgot-pass {
        font-size: 22.5px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .sign-up-text {
        font-size: 22px;
        margin: 30px 0;
    }
}

@media(max-width: 500px) {

    .forgot-pass,
    .sign-up-text {
        font-size: .9rem;
    }

    .forgot-pass {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .sign-up-text {
        margin: 30px 0;
    }
}

@media (max-device-width: 400px) {
    form .input-field {
        margin-bottom: 70px;
    }
    .container-height {
        height: 670px;
    }
    .forgot-pass {
        font-size: 26px;
        margin-top: 65px;
        margin-bottom: 60px;
    }

    .sign-up-text {
        font-size: 26px;
        margin: 50px 0;
    }
}

@media (max-device-width: 335px) {
    .container-height {
        height: 770px;
        width: 700px;
    }
    .forgot-pass {
        font-size: 30px;
        margin-top: 65px;
        margin-bottom: 60px;
    }
    form .input-field {
        margin-bottom: 100px;
    }
    .sign-up-text {
        font-size: 30px;
        margin: 50px 0;
    }
}