body {
    background: url("../images/green-branches_1.jpg") no-repeat fixed;
    background-size: cover;
}

.container-height {
    height: 680px;
}

form .input-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 60px 0;
}

.forgot-pass {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.sign-up-text {
    text-align: center;
    margin: 55px 0;
}

@media(max-width: 900px) {
    form .input-field{
        margin: 35px 0;
    }

    .container-height {
        height: 480px;
    }

    .forgot-pass {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .sign-up-text {
        margin: 40px 0;
    }
}

@media(max-width: 500px) {
    .container-height {
        height: 470px;
    }

    .forgot-pass,
    .sign-up-text {
        font-size: .9rem;
    }

    .forgot-pass {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .sign-up-text {
        margin: 30px 0;
    }
}