body {
    background-image: url("../images/clover.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {
    display: flex;

}



.profile_pic{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    width: 15%;
    background-color: white;
    margin-top: 5%;
    margin-left: 10%;
    height: 50%;
}

.picture {
    object-fit: cover;
    max-width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}



.edit {
    background-color: #7BB79D;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}


#edit-icon{
    float: right;
    max-width: 100%;
    color: white;
    border: solid white;
    padding: 2%;
    border-radius: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

#edit-icon:hover{
    cursor: pointer;

}

#image-upload {
   display: none;
}

#submit-upload{
    padding-top: 5%;
    color: #236f21;
}

.profile_info {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    border-radius: 3%;
    width: 40%;
    height: 100%;
    background-color: white;
}

.title {
    text-align: center;
    padding: 3%;
    display: flex;
    flex-direction: row;
}

#profile-header{
    flex-direction: column;
    padding: 1%;
    
}

#delete-form{
    align-self: center;
    max-width: 100%;
}

#delete-user{
    background-color: #7BB79D;
    padding: 2%;
    border-radius: 100%;
    border: solid #801515;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    align-self: center;
    background-image: url("../images/delete-icon.png");
    background-size: cover;
    min-width: 40px;
    height: 40px;
    background-position: center;
}

.user-data-fields {
    display: flex;
    margin: 5%;

}

.user-data-fields input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    background-color: rgba(123, 183, 157, 0.63);
    font-size: larger;
    width: 100%;
    height: 40px;
    outline: none;
    flex: 4;
    text-align: right;
    color: #243e16;
    padding-right: 2%;

}

label {
    flex: 2;
    float: left;
    font-size: large;
    width: 100%;
    color: #243e16;
    height: 100%;

}

.save-button {
    margin-right: 5%;
    float: right;
}

#save {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
    float: right;
    height: 50px;
    background-color: #236f21;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 2%;

}


#save:hover{
    background-color: #c0c0c0;
    color: #243e16;
    transition: all .2s;
}

#save-pic{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
    float: right;
    height: 50px;
    background-color: #236f21;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 2%;
}



.links-container {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
    border-radius: 1rem;
    border: solid 0.5rem #c0c0c0;
    text-align: center;
    margin: 10%;
    background-color: rgba(165, 210, 164, 0.7);
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    border-radius: 2rem;
    font-size: 150%;


}

a:link {
    text-decoration: none;
    padding-bottom: 5%;
}

.link-icons{
    border: solid white;
    padding: 2%;
    max-width: 25%;
    border-radius: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.posts{
    margin-top: 10%;
}

@media (max-width: 1400px), (max-device-width: 1400px){
    .profile_pic{
        flex: 1;
        margin-left: 5%;
    }

    .profile_info{
        flex: 2;
        margin-left: 5%;
        margin-right: 5%;
    }
    .links-container{
        flex-direction: column;
    }
    .links{
        justify-content: space-between;
    }
    .link-icons{
        max-width: 10%;
    }
}

@media (max-width: 900px), (max-device-width: 900px){

    .container{
        flex-direction: column;
    }
    .profile_pic{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .profile_info{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media (max-width: 600px), (max-device-width: 600px){

    .container{
        flex-direction: column;
    }

    .profile_pic{
        width: 70%;
    }
    .profile_info{
        width: 90%;
    }

}

@media (max-width: 400px),(max-device-width: 400px) {
    .profile_pic{
        width: 83%;
    }
    .user-data-fields{
        flex-direction: column;
    }

    .links{
        font-size: 140%;
    }

}

@media (max-device-width: 350px){
    .profile_pic{
        width: 95%;
    }

    .links{
        font-size: 110%;
    }
}