.container {
    display: flex;

}

.profile_pic{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
    border-radius: 3%;
    width: 15%;
    background-color: white;
    margin-top: 5%;
    margin-left: 10%;
    height: 50%;
}

.picture {
    object-fit: cover;
    max-width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}



.edit {
    background-color: #7BB79D;
    display: flex;
    padding-left: 5%;
    align-items: center;
}


/*#edit-icon {*/
/*   !*padding-top: 50%;*!*/
/*}*/

#edit-icon:hover{
    cursor: pointer;

}

#upload {
   display: none;
}

#profile-header {

}

.profile_info {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
    margin-top: 7%;
    margin-left: 10%;
    /*margin-right: 20%;*/
    align-items: center;
    border-radius: 7%;
    border: solid white;
    width: 30%;
    height: 500px;
    background-color: white;
}

h1{
    padding-left: 10%;
}

.info-container {
    margin-top: 5%;
    padding: 5%;
    display: block;

}
input {
    border: none;
    border-radius: 5px;
    background-color: #7BB79D;
    /*background: rgba(255, 255, 255, .40);*/
    font-size: larger;
    width: 100%;
    outline: none;
    padding-top: 2%;
}

label {
    float: left;
    font-size: large;
}