body {
    background: url("../images/green-wall.jpg") no-repeat fixed;
    background-size: cover;
}

.container-height {
    height: 750px;
}

form .input-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 40px 0;
}

.log-in-text {
    text-align: center;
    margin: 44px 0;
}

@media (max-device-width: 900px) {
    form .input-field{
        margin: 11% 0;
    }

    .container-height {
        height: 620px;
    }

    .log-in-text {
        margin: 30px 0;
    }
}

@media(max-width: 900px) {
    form .input-field{
        margin: 30px 0;
    }

    .container-height {
        height: 620px;
    }

    .log-in-text {
        margin: 40px 0;
    }
}

@media (max-device-width: 650px) {
    .log-in-text {
        font-size: 18px;
        text-align: center;
        margin: 40px 0;
    }
    form .input-field{
        margin: 9% 0;
    }
    .container-height {
        height: 660px;
    }

}

@media (max-device-width: 500px) {
    .container-height {
        height: 800px;
    }
    form .input-field {
        font-size: 30px;
        margin-bottom: 55px;
    }

    .sign-up-text {
        font-size: .9rem;
    }

    .sign-up-text {
        margin: 30px 0;
    }
    .log-in-text {
        font-size: 21px;
    }
}

@media(max-width: 500px) {

    .sign-up-text {
        font-size: .9rem;
    }

    .sign-up-text {
        margin: 30px 0;
    }

    .input-field {
        font-size: 200px;
    }
}

@media (max-device-width: 400px) {
    form .input-field {
        font-size: 30px;
        margin-bottom: 70px;
    }
    .input-field input {
        font-size: 22px;
    }
    .input-field label {
        font-size: 28px;
    }
    .container-height {
        height: 880px;
    }
    .log-in-text {
        font-size: 24px;
    }
}

@media (max-device-width: 335px) {
    form .input-field {
        margin-bottom: 90px;
    }
    .container-height {
        height: 1050px;
    }
    .log-in-text {
        font-size: 30px;
    }
}


