body{
    margin: 0;
    font-family: sans-serif;
    background: #a5d2a4
}
/*Homepage Who are we greeting container*/
.homepage-container{
    width: 100%;
    position: relative;
    text-align: center;
}
.image{
    width: 100%;
    background-size: cover;
}
.title {
    position: absolute;
    left: 5%;
    top: 30%;
    color: #243e16;
    font-size: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    padding: 8px 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
}
.subtitle {
    position: absolute;
    left: 5%;
    top: 45%;
    width: 45%;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    background: rgba(68, 68, 68, 0.70);
    padding: 8px 15px;
    text-align: left;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
}
.read-more {
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 70%;
    background: #236f21;
    color: white;
    border: 0px;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
}
.read-more:hover{
    font-weight: bold;
    background: white;
    color: #236f21;
}

/*Join us widget*/

.join-us{
    margin: 5% 0;
    position: relative;
    text-align: center;
}
.join-us-image{
    width: 80%;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);

}

.join-us-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    color: #243e16;
    font-size: 18px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.80);
    padding: 8px 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
}

.join-btn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    background: #236f21;
    border: 0px;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
}
.join-btn:hover{
    font-weight: bold;
    background: white;
    color: #236f21;
}

/*Info preview widget*/
.info{
}

.info-preview{
    display: flex;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
}

/*Left info box*/
.info-left{
    flex: 1;
    display: flex;
}
.info-img-left-container{
    flex: 1;
}
.info-img-left{
    width: 80%;
    margin: 20% 5% 10% 10%;
    border-radius: 10px;
}
.left-text{
    flex: 1;
    padding: 10% 0%;
}

/*Right info box*/
.info-right{
    flex: 1;
    display: flex;
}
.info-img-right-container{
    flex: 1;
}
.info-img-right{
    width: 80%;
    margin: 20% 5% 10% 10%;
    border-radius: 10px;
}
.right-text{
    padding: 10% 0% 0% 0%;
    flex: 1;
}

li{ margin: 30px 0px 20px 0; vertical-align:top}

.btn-more-info {
    cursor: pointer;
    margin-left: 20%;
    margin-top: 10%;
    background: #236f21;
    border: 0px;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
}
.btn-more-info:hover{
    font-weight: bold;
    background: white;
    color: #236f21;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: auto;
    overflow: hidden;
    background: #236f21;
    width: 100%;
    margin-top: 10%;
    color: white;
    text-align: center;
}