body {
    background: url("../images/green-wall.jpg");
    background-size: cover;
}

.container-height {
    height: 750px;
}

form .input-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 40px 0;
}

.log-in-text {
    text-align: center;
    margin: 44px 0;
}



